doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title=invoice
    body
        style.
            @import "https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,600i,700";

            html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, total, time, mark, audio, video {
                margin: 0;
                padding: 0;
                border: 0;
                font-size: 100%;
                font: inherit;
                vertical-align: baseline;
            }

            article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
                display: block;
            }

            body {
                line-height: 1;
                display: flex;
                justify-content: center;
            }

            ol, ul {
                list-style: none;
            }

            blockquote, q {
                quotes: none;
            }

            blockquote:before, blockquote:after, q:before, q:after {
                content: '';
                content: none;
            }

            table {
                border-collapse: collapse;
                border-spacing: 0;
            }

            body {
                margin: 5px 5px 5px 5px;
                font-family: 'Open Sans', sans-serif;
                font-size: 9px;
            }

            strong, .bold {
                font-weight: 700;
            }

            #container {
                width: 21cm;
                height: 29.7cm;
                position: relative;
                padding: 10px;
            }

            #header > #heading {
                float: center;
                text-align: center;
            }

            #header > #logo {
                width: 100%;
                float: center;
            }

            #header > #logo > img {
                width: 100%;
            }

            #recipient {
                float: left;
            }
            #recipient p {
                font-size: 18px;
                color: #080182;
                font-weight: 600;
            }
            #recipient span {
                font-size: 16px;
                color: black;
                font-weight: 400;
            }

            #conclusion {
                float: right;
            }

            #items {
                margin-top: 10px;
            }

            #items > p {
                font-weight: 700;
                text-align: right;
                margin-bottom: 1%;
                font-size: 65%;
            }

            #items > table {
                width: 100%;
                font-size: 75%;
            }

            #items > table th {
                border: 2px solid #080182;
                background-color: #080182;
                color: #fff;
                font-size: 11px;
                padding: 5px;
                text-transform: uppercase;
                text-decoration:none;
            }

            #items > table td {
                padding: 1px 4px;
                text-decoration:none;
            }

            //- #items > table tr td:not(:first-child) {
            //-     text-align: left;
            //- }

            //- #items > table tr td:nth-child(2){
            //-     width:1%;
            //-     white-space:nowrap;
            //- }

            //- #items > table tr td:last-child, #items > table tr th:last-child {
            //-     text-align: right;
            //- }

            #items table tr td {
                padding-top: 3px;
                padding-bottom: 3px;
                height: 10px;
                border: 2px solid #080182;
                font-size: 14px;
            }

            .total .bold {
                color: #080182;
                font-size: 16px;
            }
            #items table tr:nth-child(1) {
                text-decoration: underline; 
            }

            #summary {
                height: 155px;
                margin-top: 30px;
            }

            #summary #note {
                float: left;
                width: 260px;
            }

            #summary #note h4 {
                font-size: 10px;
                font-weight: 600;
                font-style: italic;
                margin-bottom: 4px;
            }

            #summary #note p {
                font-size: 10px;
                font-style: italic;
                line-height:12px;
            }

            #summary #total table {
                font-size: 85%;
                width: 260px;
                float: right;
            }

            #summary #total table td {
                padding: 3px 4px;
            }

            #summary #total table tr td:last-child {
                text-align: right;
            }

            #summary #total table tr:nth-child(3) {
                background: #efefef;
                font-weight: 600;
            }

            .balance {
                background: #efefef;
                display: inline-block;
                width: 100%;
                font-weight: 600;
                padding: 10px 0px 10px 0px;
                border-style: solid;
                border-width: 2px 2px 2px 2px
            }

            #footer {
                margin: auto;
                position: absolute;
                left: 4%;
                bottom: 20px;
                right: 4%;
                border-top: solid grey 1px;
            }

            #footer p {
                margin-top: 1%;
                font-size: 65%;
                line-height: 140%;
                text-align: center;
                
            }

            .padding-table {
                margin-top: 60px;
            }
            .receipentInfo  {
                display: flex;
                justify-content: space-between;
            }
            .receipentInfo p {
                
                font-size: 18px;
                color: #080182;
                font-weight: 600;
                margin-right: 5px;
            }
           
            .receipentInfo span {
                font-size: 16px;
                color: black;
                font-weight: 400;
            }
            .Bill{
                background-color: #080182;
                padding: 6px 16px;
                color: #fff;
                font-size: 18px;
                margin-right: 5px;
            }
            .ntnInfo{
                font-size: 18px;
                color: #080182;
                font-weight: 600;
            }

        #container
            #header
                #logo
                    img(src=logo, alt='')
                br
                br
                #heading
                    h3
                        strong #{statement_heading.subject}
                    p #{statement_heading.subtitle}
            br
            br
            div
                #recipient
                    
                        p Buyer Name: 
                            span #{recipient.name}
                        br
                        br
                        p Address: 
                            span #{recipient.street1}
                        br
                        br                        
                        br 
                        br
            
                #conclusion
                    table(class="ntnInfo")
                        -for(var field in statement_conclusion){
                        tr
                            td.bold #{field}: 
                            td #{statement_conclusion[field]}
                        - }


            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            br
            div(class='receipentInfo')       
                p Date: 
                    span #{recipient.date} 
                h6(class="Bill") BILL
                p Book No:
                    span #{recipient.bookNo}
                p Sr.No:
                    span #{recipient.invoiceNumber}
            div(style='padding-top:20px')
                #items
                    - var rowCounter = 0
                    - var loopTable = 1;
                    while loopTable <= template_configuration.loop_table
                        table
                            tr
                                
                                each articleHeader in article_headers
                                    th #{articleHeader}

                                - var rowPerPage = 0
                                
                                - var rowPerPage = 0
                                if loopTable === 1
                                    - rowPerPage = template_configuration.rows_in_first_page
                                else if loopTable === (template_configuration.loop_table )
                                    - rowPerPage = template_configuration.rows_in_last_page
                                else
                                    - rowPerPage = template_configuration.rows_per_pages
                                
                                - var rowDoneThisPage = 0;
                                - var rowIndex = 0;
                                - var rowPointer = rowCounter;
                                - while (rowDoneThisPage < rowPerPage) {
                                    each article in articles
                                        tr
                                            if (rowDoneThisPage > rowPerPage)
                                                - break;
                                            if (rowIndex < rowPointer)
                                                - rowIndex++;
                                            else
                                                - rowIndex++;
                                                - rowDoneThisPage++;
                                                - rowCounter++;
                                                each field in article
                                                    td #{field}
                                -}
                        
                                
                                if loopTable > 1
                                    div(style='page-break-after:always')
                                - loopTable++;
                            br
                            br
                            br
                            tr
                                td 
                                td 
                                td.bold Total
                                td #{recipient.grandTotals.grandTotalValueExcelST} 
                                td 
                                td #{recipient.grandTotals.grandTotalSTPayable} 
                                td #{recipient.grandTotals.grandTotalValueOfIncludingST} 

                                
    

